{{ define "main" }}
<div class="post h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}">

  <header class="post-header">
    <div class="post-date-wrapper">
    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ partial "dateformat/long" . }}</time>
    </div>
    {{ if .Title }}
    <h2 class="p-name post-title">{{ .Title }}</h2>
    {{ end }}
  </header>

  <article class="post-content e-content {{ if .Title }}with-title{{ else }}without-title{{ end }}">
    {{ .Content }}
  </article>

</div>

<div class="content-meta">
{{ if .Params.categories }}
{{ with .GetTerms "categories" }}
  <ul class="post-tags">
    {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
{{ end }}
{{ end }}
</div>
{{ end }}
