<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ if and .Title (ne .Title .Site.Title) }}{{ .Title }} // {{ end }}{{ .Site.Title }}
    </title>

    <link rel="icon" type="image/png" href="/favicon.png">
    {{ partial "meta.html" . }}
    {{ partial "og.html" . }}

    {{ with .Site.Params.github_username }}
    <link rel="me" href="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.mastodon_username }}
    <link rel="me" href="{{ . }}" />
    {{- $url := urls.Parse . -}}
    <meta name="fediverse:creator" content="{{ path.Base $url.Path }}@{{ $url.Host }}" />
    {{ end }}

    <link rel="preload" href="{{ "css/fonts/et-book-roman-line-figures.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ "css/fonts/et-book-display-italic-old-style-figures.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ "css/fonts/et-book-bold-line-figures.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ "css/fonts/et-book-roman-old-style-figures.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>

    {{ $css := slice (resources.Get "css/style.css") (resources.Get "css/custom.css") | resources.Concat "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  </head>
